<section class="section-style-1">
    <div class="container">
        <div class="card border-0">
            <div class="card-body">
                <div class="text-center card-top-title">
                    <h3 class="text-primary font-weight-bold">
                        Privatumo ir duomenų apsaugos politika paslaugų pirkėjams
                    </h3>
                    <p>“Aš dirbu” programėlė priklausanti UAB “PILKA LINIJA” (įmonės registracijos numeris 304093955, veikianti adresu Taikos 263a-76, Vilniuje, Lietuvoje) yra paslaugų pirkėjų asmeninių duomenų tvarkytojas ir turi paskyrę duomenų apsaugos kontrolierių (<a href="mailto:info@asdirbu.lt" class="text-primary">info@asdirbu.lt</a>).</p>
                    <p>Sąvoka "mes" reiškia Jūsų asmens duomenų valdytoją ir „Aš dirbu" programėlės savininką - uždarąją akcinę bendrovę PILKA LINIJA, įsteigtą  Respublikoje.</p>
                    
           
                    <h5 class="text-primary font-weight-bold">1. Asmens duomenys, kuriuos mes tvarkome</h5>
                    <p>Vardas, telefono numeris, elektroninis paštas;</p>
                    <p>Paslaugų pirkėjo geografinė padėtis, paslaugų pirkimo laikas, paslaugų pirkmo vieta;</p>
                    <p>Mokėjimų informacija;</p>
                    <p>Informacija apie iškilusias nenumatytas situacijas;</p>
                    <p>Įrenginio, kuriame įdiegta „Aš dirbu" programėlė, identifikavimo duomenys.</p>

                    <h5 class="text-primary font-weight-bold">2. Duomenų tvarkymo proceso tikslas</h5>
                    <p>Mes renkame ir apdorojame asmeninius duomenis, norėdami sujungti paslaugų tiekėjus su pirkėjais, kad jie galėtų efektyviau keliauti;</p>
                    <p>Kad vyktų efektyvesnis paslaugų teikimas, tiekėjams yra pateikiama pirkėjo geografinių vietovių duomenys ir pirkėjo telefono numeris. Geografinės vietovių duomenys yra renkami tik kai yra įjungta „Aš dirbu" programėlė. Duomenų rinkimas nutraukiamas išjungus „Aš dirbu" programėlę. </p>
                    <p>Mes galime naudoti geografinių vietovių duomenis, kad išspręstume su paslaugomis susijusius kokybės klausimus;</p>
                    <p>Mes naudojame kontaktinius duomenis, kad praneštume pirkėjams apie „Aš dirbu" programėlės atnaujinimus;</p>
                    <p>Informacija apie tiekėjų ir pirkėjų paslaugų tiekimo vietas yra renkama geografinės aprėpties analizavimui, kad galėtumėme tiekėjams pateikti rekomendacijas apie užsakymus esančius arčiausiai jų;</p>
                    <p>Jūsų vardas, telefono numeris ir elektroninis paštas bus naudojami bendraujant su Jumis;</p>
                    <p>Mes renkame mokėjimo duomenis, kad tiekėjų vardu tvarkytume pirkėjų mokestį už paslaugas;</p>
                    <p>Klientų aptarnavimo duomenys kiekvienu atveju yra renkami atskirai, pagal poreikį ir situaciją, ir yra saugomi kokybės aptarnavimo tikslams. </p>
                    
                    <h5 class="text-primary font-weight-bold">3. Teisinis pagrindas</h5>
                    <p>Asmeniniai duomenys yra tvarkomi, siekiant suteikti sutartas paslaugas su pirkėju. Mes renkame ir apdorojame pirkėjų, „Aš dirbu" programėlės įdiegimo ir naudojimo metu, pateiktus asmeninius duomenis. Būtina „Aš dirbu" paslaugų naudojimo sąlyga yra pirkėjų sutikimas, kad jų identifikavimo ir geografiniai duomenys bus renkami ir tvarkomi;</p>
                    <p>Asmens duomenys taip pat gali būti nagrinėjami remiantis pagrįstais teisiniais interesais, pavyzdžiui, tiriant ir nustatant apgaulingus mokėjimus.</p>
                    
                    <h5 class="text-primary font-weight-bold">4. Gavėjai</h5>
                    <p>Asmeniniai pirkėjo duomenys atskleidžiami tik tiekėjui, kuris aktyvavo „Aš dirbu" programėlę. Tokiu atveju, tiekėjas mato pirkėjo vardą, telefono numerį (kai kuriose šalyse numeris nerodomas) ir geografinius vietos duomenis.</p>
                    <p>Po transporto paslaugos suteikimo, pirkėjo vardas, telefono numeris (kai kuriose šalyse numeris nerodomas) tiekėjui bus prieinami 24 valandas. Tai padeda tiekėjams spręsti iškilusius klausimus, susijusius su paslaugos teikimu. Pavyzdžiui susisiekiant su pirkėju, jei jis paliko kokį nors daiktą paslaugos teikimo vietoje;</p>
                    <p>Pirkėjų atsiliepimai apie paslaugos kokybę yra anonimiški. Pirkėjo, kuris paliko atsiliepimą ir vertinimą, duomenų tiekėjai nemato;</p>
                    <p>Atsižvelgiant į pirkėjo buvimo vietą, asmeniniai duomenys gali būti atskleisti „Aš dirbu" programėlę valdančios UAB “PILKA LINIJA” grupės įmonėms ir partneriams (vietinėms dukterinėms įmonėms, atstovams, filialams, agentams ir kt.). UAB “PILKA LINIJA” grupės įmonės ir partneriai asmens duomenis tvarkys tomis pačiomis sąlygomis, kaip nustatyta šiame privatumo pranešime.</p>
                    
                    <h5 class="text-primary font-weight-bold">5. Saugumas ir prieiga</h5>
                    <p>Visi asmens duomenys, surenkami teikiant paslaugas, yra perduodami ir saugomi "Amazon Web Services Inc.", duomenų centruose įsikūrusiuose Europos Sąjungos valstybių narių teritorijose. Tik įgalioti „Aš dirbu" programėlės savininko UAB “PILKA LINIJA” grupės darbuotojai turi prieigą prie asmens duomenų. Duomenimis jie gali naudotis tik sprendžiant su paslaugos naudojimu susijusius klausimus (įskaitant iškilusias situacijas su transporto paslaugomis);</p>
                    <p>UAB „PILKA LINIJA" grupės įmonės ir partneriai gali naudotis surinkta asmenine informacija tik klausimais susijusiais su klientų aptarnavimu atitinkamoje šalyje. Daugiau <a href="https://www.asdirbu.lt" class="text-primary" target="_blank">https://www.asdirbu.lt</a></p>
                    <p>Geografiniai duomenys apdorojami anonimiškai ir yra individualizuojami tik tuo atveju, jei geografinės vietovės duomenys yra būtini sprendžiant iškilusią situaciją ar apgaulingus mokėjimus;</p>
                    <p>Tyrimams ir moksliniams tikslams duomenys yra naudojami anonimiškai;</p>
                    
                    <h5 class="text-primary font-weight-bold">6. Prieiga ir tikslinimas</h5>
                    <p>Savo asmeninius duomenis galite matyti ir redaguoti savo „Aš dirbu" programėlėje. </p>

                    <h5 class="text-primary font-weight-bold">7. Duomenų saugojimas</h5>
                    <p>Jūsų duomenys bus saugomi tol, kol bus aktyvi pirkėjo paskyra. Jei Jūsų paskyra bus uždaryta, duomenys bus ištrinti (pagal šioje skiltyje išdėstytas taisykles) iš duomenų bazės. Išimtis teikiama atvejams, jei duomenys turi būti saugomi mokestiniais, kilusių situacijų sprendimo ar sukčiavimo prevencijos tikslais;</p>
                    <p>Finansinės informacijos duomenys apie pirkėjo naudotas paslaugas bus saugomi 3 metus nuo paskutinio užsakymo;</p>
                    <p>Buhalterinės informacijos duomenys bus saugomi 7 metus nuo paskutinio užsakymo;</p>
                    <p>Jeigu iškyla įtarimų dėl nusikalstamos veiklos, sukčiavimo ar klaidingos informacijos pateikimo, duomenys bus saugomi 10 metų;</p>
                    <p>Mokėjimo ginčų atveju, informacija bus saugoma tol, kol bus situacija bus išspręsta arba sueis senaties terminas;</p>
                    <p>Paslaugų informacija saugoma 3 metus, vėliau informacija tampa anonimiška;</p>
                    <p>Atminkite, kad „Aš dirbu" programėlės ištrynimas iš Jūsų įrenginio, nepašalina Jūsų duomenų iš sistemos;</p>
                    <p>Jei „Aš dirbu" programėlė nebus naudojama 3 metus, mes su Jumis susisieksime ir prašysime patvirtinti, ar paskyra dar aktyvi. Jei atsakymo negausime, paskyra bus uždaryta ir asmens duomenys bus ištrinti (išskyrus atvejus, kurių duomenis reikia saugoti mokesčių, situacijų sprendimo ar sukčiavimo prevencijos tikslais).</p>

                    <h5 class="text-primary font-weight-bold">8. Paskyros panaikinimas</h5>
                    <p>Taip pat svarbu paminėti, kad bet koks prašymas ištrinti Jūsų asmeninius duomenis galimas tik tada, jei ištrinsime ir Jūsų paskyrą. Dėl to negalėsite naudotis „Aš dirbu" paslaugomis per paskyrą, kuri buvo ištrinta;</p>
                    <p>Į bet kokį elektroniniu paštu pateiktą prašymą pašalinti asmeninius duomenis mes reaguojame per mėnesį ir nurodysime duomenų ištrynimo laikotarpį. </p>

                    <h5 class="text-primary font-weight-bold">9. Informacijos pateikimas</h5>
                    <p>Į bet kokį elektroniniu paštu pateiktą prašymą pateikti asmeninių duomenų išrašus mes reaguojame per mėnesį ir atskirai patvirtinsime konkretų duomenų pateikimo laiką. Patvirtinus pirkėjo tapatybę, mes atsakysime į pateiktą prašymą ir suteiksime informaciją į kurią gali įeiti: kontaktinė informacija, paskutinių 3 metų paslaugų užsakymų informacija, mokėjimo informacija. </p>
                    
                    <h5 class="text-primary font-weight-bold">10. Tiesioginė rinkodara</h5>
                    <p>Elektroniniu paštu ir/ar telefono numeriu gausite tiesiogines rinkodaros žinutes tik jei davėte sutikimą per „Aš dirbu" programėlę ar  <a href="https://www.asdirbu.lt " target="_blank" class="text-primary">https://www.asdirbu.lt</a> . Žinutės gali būti ir personalizuotos, atsižvelgiant į Jūsų programėlės naudojimo informaciją (užsakymų dažnumą, paslaugų tipą, mokėjimo informaciją);</p>
                    <p>Jei nebenorite gauti tiesioginių rinkodaros žinučių, spustelėkite šio laiško apačioje esančią nuorodą "Atšaukti prenumeratą" (Unsubscribe), arba tai pažymėkite savo „Aš dirbu" programėlės paskyroje.</p>

                    <h5 class="text-primary font-weight-bold">11. Aptarnavimas ir situacijų sprendimas</h5>
                    <p>Klausimai susiję su asmeninių duomenų tvarkymu yra sprendžiami klientų aptarnavo skyriaus (<a href="mailto:info@asdirbu.lt" target="_blank" class="text-primary">info@asdirbu.lt</a>);</p>
                    <p>Prižiūrinti institucija yra Lietuovos Valstybinė Duomenų Apsaugos Inspekcija (<a href="http://www.ada.lt" target="_blank" class="text-primary">www.ada.lt</a>) su kuria galima susisiekti elektroniniu paštu <a href="mailto:ada@ada.lt" target="_blank" class="text-primary">ada@ada.lt.</a></p>
                    


                    <h3 class="text-primary font-weight-bold">Privatumo ir duomenų apsaugos politika tiekėjams</h3>
                    <p>“Aš dirbu” programėlė priklausianti UAB “PILKA LINIJA” (įmonės registracijos numeris 304093955, veikianti adresu Taikos 263a-76, Vilniuje, Lietuvoje) yra pirkėjų asmeninių duomenų tvarkytojas ir turi paskyrę duomenų apsaugos kontrolierių (info@asdirbu.lt).</p>
                    <p>Sąvoka "mes" reiškia Jūsų asmens duomenų valdytoją ir „Aš dirbu" programėlės savininką - uždarąją akcinę bendrovę „PILKA LINIJA", įsteigtą Lietuvos Respublikoje.</p>

                    <h5 class="text-primary font-weight-bold">1. Asmens duomenys, kuriuos mes tvarkome</h5>
                    <p>Vardas, pavardė, elektroninio pašto adresas, telefono numeris, gyvenamosios vietos adresas;</p>
                    <p>Paslaugų tiekėjų ir paslaugų atlikimo vietų geografinė padėtis;</p>
                    <p>Informacija apie paslaugos tiekėjo kvalifikaciją;</p>
                    <p>Paslaugos tiekėjo aktyvumas ir reitingai;</p>
                    <p>Tiekėjo pažymėjimas, nuotrauka ir tapatybės dokumentai;</p>
                    <p>Informacija apie teistumą ir administracines nuobaudas. </p>
                    <p>Finansinė informacija, kuri susijusi su paslaugomis, nėra laikoma kaip asmeninė informacija, nes vairuotojai suteikia paslaugą individualios veiklos pagrindu.</p>

                    <h5 class="text-primary font-weight-bold">2. Duomenų tvarkymo proceso tikslas</h5>
                    <p>Mes renkame ir apdorojame asmeninius duomenis, norėdami sujungti pirkėjus su tiekėjais, kad jie galėtų efektyviau keliauti;</p>
                    <p>Geografinė padėtis ir paslaugų tiekimo vieta yra apdorojami norint išanalizuoti geografinę vietovę ir teikti pasiūlymus tiekėjams. Jeigu nenorite atskleisti geografinės padėties pirkėjams, jūs turite uždaryti „Aš dirbu" programėlę arba pažymėti „Aš dirbu" programėlėje, kad atsijungėte ir šiuo metu negalite teikti paslaugų;</p>
                    <p>Tiekėjo pažymėjimas, tapatybės dokumentai ir informacija apie teistumą ir administracines nuobaudas, yra skirti apdoroti ir nustatyti teisinius reikalavimus ir jūsų, kaip paslaugos tiekėjo tinkamumą šiam užsiėmimui;</p>
                    <p>„Aš dirbu" programėlėje pirkėjams yra matomas paslaugos teikėjo vardas, darbų nuotrauka ir kitos detalės, kad jiems lengviau būtų atpažinti paslaugos teikėja;</p>
                    <p>Jūs gausite ataskaitas iš „Aš dirbu" Portalo, kuriose bus nurodytas Jūsų, kaip paslaugos teikėjo aktyvumas ir reitingai. Ataskaita ir reitingai apie paslaugos teikėją yra būtini užtikrinant gerą pirkėjų aptarnavimą.</p>

                    <h5 class="text-primary font-weight-bold">3. Teisinis Pagrindas</h5>
                    <p>Asmens duomenys tvarkomi, siekiant vykdyti su tiekėju sudarytą sutarimą. Būtina „Aš dirbu" paslaugų naudojimo sąlyga yra tiekėjo sutikimas, kad jų identifikavimas ir geografiniai duomenys bus renkami ir tvarkomi;</p>
                    <p>Asmens duomenys taip pat gali būti nagrinėjami remiantis pagrįstais teisiniais interesais, pavyzdžiui, tiriant ir nustatant apgaulingus mokėjimus;</p>
                    <p>Informacija susijusi su teistumu ar administracinėmis nuobaudomis yra apdorojama laikantis teisinių įsipareigojimų.</p>

                    <h5 class="text-primary font-weight-bold">4. Gavėjai</h5>
                    <p>Jūsų asmeninė informacija atskleidžiama tik pirkėjams, kurių užsakymą priėmėte. Pirkėjas gali matyti tiekėjo vardą, paslaugų aprašymą ir nuotraukas, telefono numerį, tiekėjo nuotrauką ir buvimo vietą. Ta pati informacija bus pateikta ir elektroniniame pirkėjo paslaugos kvite; </p>
                    <p>Priklausomai nuo tiekėjo buvimo vietos, asmeniniai duomenys gali būti atskleisti „Aš dirbu" programėlės savinininkės UAB “PILKA LINIJA” grupės įmonėms ir partneriams (vietinėms dukterinėms įmonėms, atstovams, filialams, agentams ir kt.). UAB „PILKA LINIJA" grupės bendrovių ir partnerių asmens duomenų tvarkymas vyks tomis pačiomis sąlygomis, kaip nustatyta šiame privatumo pranešime.</p>

                    <h5 class="text-primary font-weight-bold">5. Saugumas ir prieiga</h5>
                    <p>Visi asmens duomenys, surenkami teikiant paslaugas, yra perduodami ir saugomi "Amazon Web Services Inc.", duomenų centruose įsikūrusiuose Europos Sąjungos valstybių narių teritorijose. Tik įgalioti „Aš dirbu" programėlės savininkės UAB “PILKA LINIJA” grupės darbuotojai turi prieigą prie asmens duomenų. Duomenimis jie gali naudotis tik sprendžiant su paslaugos naudojimu susijusius klausimus (įskaitant iškilusias situacijas su transporto paslaugomis);</p>
                    <p>„Aš dirbu" programėlės savininkės UAB “PILKA LINIJA” grupės įmonės ir partneriai gali naudotis surinkta asmenine informacija tik klausimais susijusiais su klientų aptarnavimu atitinkamoje šalyje. Daugiau <a href="https://www.asdirbu.lt " target="_blank" class="text-primary">https://www.asdirbu.lt</a></p>

                    <h5 class="text-primary font-weight-bold">6. Pirkėjų duomenų tvarkymas</h5>
                    <p>Jūs negalite susisiekti su pirkėju arba rinkti, įrašyti, saugoti, suteikti prieigą ar naudoti asmens duomenų, kuriuos pateikia pirkėjas arba kurie yra jums prieinami naudojant „Aš dirbu" programą dėl bet kokios priežasties, išskyrus „Aš dirbu" paslaugų teikimo tikslais;</p>
                    <p>Privalote laikytis asmeninių pirkėjų duomenų saugumo taisyklių ir sąlygų, išdėstytų pirkėjų duomenų privatumo ir apsaugos išraše. Jei pažeidžiate asmeninių pirkėjų duomenų saugumo reikalavimus, mes galime nutraukti bendradarbiavimą ir reikalauti atlyginti žalą.</p>

                    <h5 class="text-primary font-weight-bold">7. Prieiga, tikslinimas, išsaugojimas, panaikinimas, perkėlimas</h5>
                    <p>Savo asmeninius duomenis galite matyti ir redaguoti savo „Aš dirbu" tiekėjo portale; </p>
                    <p>Jūsų asmeniniai duomenys bus saugomi tol, kol bus aktyvi tiekėjo paskyra. Jei jūsų paskyrą bus uždaryta, asmens duomenys bus saugomi dar 3 metus;</p>
                    <p>Asmeniniai duomenys apskaitos tikslais saugomi 7 metus;</p>
                    <p>Įtarus administracinę ar nusikalstamą veiką, sukčiavimą ar klaidingą informaciją, duomenys saugomi 10 metų;</p>
                    <p>Ginčų atveju, duomenys turi būti saugomi tol, kol patenkinami reikalavimai arba baigiasi tokių reikalavimų galiojimo terminas;</p>
                    <p>Bet kokie prašymai dėl asmeninės informacijos išrašų, duomenų perkėlimo ar panaikinimo, pateikti elektroniniu paštu, yra atsakomi mėnesio bėgyje.</p>
                    
                    <h5 class="text-primary font-weight-bold">8. Aptarnavimas ir situacijų sprendimas</h5>
                    <p>Klausimai susiję su asmeninių duomenų tvarkymu yra sprendžiami klientų aptarnavimo skyriaus (<a href="mailto:info@asdirbu.lt" target="_blank"  class="text-primary">info@asdirbu.lt</a>);</p>
                    <p>Priežiūrinti institucija yra Lietuvos Valstybinė Duomenų Apsaugos Inspekcija (<a href="http://www.ada.lt/" target="_blank" class="text-primary">www.ada.lt</a>) su kuria galima susisiekti elektroniniu paštu <a href="mailto:ada@ada.lt"  class="text-primary">ada@ada.lt</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
