<section class="section-style-1">
    <div class="container">
        <div class="bg-white p-3">
            <div class="text-center">
                <h3 class="text-primary font-weight-bold mt-4 mb-3">Atstatyti slaptažodį</h3>
            </div>
            <form [formGroup]="form" (submit)="onResetPassword()" class="registration-form">
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Naujas Slaptažodis</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" name="newpassword" formControlName="newpassword">
                        <div class="invalid-feedback d-block"
                            *ngIf="form.get('newpassword').hasError('required') && (form.get('newpassword').touched || submitted)">                            
                                Iveskite naują slaptažodį
                        </div>
                    
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Pakartoti slaptažodį</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword">
                        <div class="invalid-feedback d-block"
                        *ngIf="form.get('confirmPassword').hasError('required') && (form.get('confirmPassword').touched || submitted)">
                        <!-- Confirm password field is required. -->
                        Patvirtinkite slaptažodžio lauką.
                    </div>
                    <div class="invalid-feedback d-block"
                        *ngIf="form.get('confirmPassword').hasError('mustMatch') && (form.get('confirmPassword').touched || submitted)">
                        <!-- Password and confirm password must match. -->
                        Slaptažodis ir patvirtinimo slaptažodis turi sutapti.
                    </div>
                    </div>
                </div>                
                <div class="text-center registration-btn-area">
                    <button class="btn btn-primary" type="submit">Pateikti</button>
                </div>
                <div class="text-center mt-2 " id="errorMessageSection" style="display: none;">
                    <img class="img-fluid" src="assets/image/form-error.png"> &nbsp;
                    <label id="errorMessage"></label>
                </div>
            </form>
        </div>
    </div>
</section>