<section class="section-style-1">
    <div class="container">
        <div class="card border-0">
             <div class="card-body">
                <div class="text-center msg-title">
                    <h3 class="text-primary font-weight-bold">Palikite atsiliepimą</h3>
                </div>
                <div class="msg-body">
                    <div class="row" *ngIf="!errorMessage">
                        <div class="col-lg-4 mb-lg-0 mb-3">
                            <div class="msg-profile-area">
                                <div class="msg-profile-left-area">
                                    <img [src]="review.image" alt="">
                                </div>
                                <div class="msg-profile-right-area">
                                    <h4 class="msg-profile-name text-primary">{{review.name}}</h4>
                                    <div class="list-member-retting">
                                         <rating  [readonly]="isReadonly" class="view-rating" [(ngModel)]="review.rating"  [max]="5" iconClass="list-member-retting"></rating>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" disabled readonly>{{review.message}}</textarea>
                            </div>
                        </div>                        
                    </div>
                    <div class="row" *ngIf="errorMessage">
                        <div class="col-md-12">
                            <div class="text-center" >
                                <h3 class="text-center font-weight-bold text-primary" >{{errorMessage}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>