.first-column{
    width: 45px !important;
}
.second-column{
    width: 170px !important;
}
.third-column{
    width: 170px !important;
}
.four-column{
    width: 50px !important;
}
.five-column{
    width: 170px !important;
}
.six-column{
    width: 85px !important;
}
.seven-column{
    width: 115px !important;
}
.eight-column{
    width: 75px !important;
}