<section class="section-style-1">
    <div class="container">
        <div class="bg-white p-4 regi-step">
            <div class="text-center regi-step-logo-area">
                <img class="regi-step-image" src="assets/image/as_dirbu.png" alt="logo">
            </div>
            <div class="text-center regi-step-title-area ">
                <div class="regi-step-title-icon text-primary"><i class="fas fa-user-circle"></i></div>
                <h3 class="regi-step-title">Registracija</h3>
            </div>
            <div class="text-center regi-step-btn-are">
                <a class="btn btn-primary btn-lg-style-1" routerLink="/individual/register" type="submit">Individualūs</a>
                <a class="btn btn-primary btn-lg-style-2" routerLink="/business" type="submit">Verslo klientai</a>
            </div>   
            <!-- <div class="text-center regi-step-btn-are">
                <a class="btn btn-primary btn-lg-style-1" routerLink="/individual/register" type="button">GOOGLE LOGIN</a>
                <a class="btn btn-primary btn-lg-style-2" routerLink="/business" type="button">FACEBOOK LOGIN</a>
            </div> -->
        </div>
    </div>
</section>
