<section class="section-style-1">
    <div class="container">
        <div class="bg-white p-3">
            <div class="text-center">
                <h3 class="text-primary font-weight-bold mt-4 mb-4">Pamiršau slaptažodį</h3>
            </div>
            <form [formGroup]="form" (submit)="onForgotPassword()" class="registration-form">
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">El. paštas</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="email" formControlName="email" />
                        <div class="invalid-feedback d-block"
                            *ngIf="form.get('email').hasError('required') && (form.get('email').touched || submitted)">
                            <!-- Email field is required. -->
                            El. Pašto laukas yra būtinas.
                        </div><div class="invalid-feedback d-block"
                        *ngIf="form.get('email').hasError('email') && (form.get('email').touched || submitted)">
                        <!-- Email field is required. -->
                        Įveskite teisingą el pašto adresą
                    </div>
                    </div>
                </div>
                <div class="text-center registration-btn-area">
                    <button class="btn btn-primary" type="submit">Pateikti</button>
                </div>
                <div class="text-center mt-2 " id="errorMessageSection" style="display: none;">
                    <img class="img-fluid" src="assets/image/form-error.png"> &nbsp;
                    <label id="errorMessage"></label>
                </div>
                <div class="text-center mt-2 " id="successMessageSection" style="display: none;">
                        <img class="img-fluid" src="assets/image/form-confirm.png"> &nbsp;
                       <label id="successMessage"></label>
                   </div>
            </form>
        </div>
    </div>
</section>