.confirm-title {
    padding: 60px 10px 0;
    font-weight: bold;
}

.confirm-body {}

.confirm-body .confirm-img-box {
    margin: 40px 0 70px;
}

.confirm-body .confirm-img-box .confirm-img {
    max-width: 150px;
}

.confirm-btn-area {
    padding: 0 0 25px;
}